strong, b {
  font-weight: bold;
}
em, i {font-style: italic;}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: $semi-black;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $grey;
  @include border-bottom;
  border-radius: $br;
}
